body {
	background: #000 url(../images/lsu_background.jpg) center top;
	background-size: 256px 256px;
	background-repeat: repeat;
	color: #000;
}

.navbar {
	background: #461D7C;
	color: #FDD023;
}

.footer {
	background: #461D7C;
	color: #FDD023;
}

.menu ul{
	background: #461D7C;
	color: #FDD023;
}

.menu li a{
	color:#FDD023;
}

.menu li a:hover{
	background: #FDD023;
	color: #461D7C;
}

.menu ul li:hover a{
	background:#FDD023;
	color:#461D7C;
}

.menu li ul{
	color: #FDD023;
}

.menu li:hover ul{
	color: #FDD023;
}

.menu li li {
	background:#461D7C;
	color: #FDD023;
}

.menu li:hover li a{
	background: #461D7C;
	color: #FDD023;
}

.menu li ul a:hover, .menu li ul li:hover a{
	background: #FDD023;
	color: #461D7C;
}

.gameContainer .game_status .left_field,
.pickContainer .game_status .left_field {
	background: #461D7C;
}

.gameContainer .game_status .right_field,
.pickContainer .game_status .right_field {
	background: #FDD023;
}

